name: Daily standings

on:
  schedule:
    - cron: '0 11 * * *'

  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 3
    strategy:
      matrix:
        java-version: [25]
        os: [ubuntu-latest]

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          cache: 'gradle'
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

      - name: Setup and execute Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Gradle build
        env:
          SPRING_PROFILES_ACTIVE: test
        run: ./gradlew build --parallel --configuration-cache

      - name: Generate file
        run: |
          cd build/libs/
          ls -ltra
          mv trap-*.jar trap.jar
          java -jar trap.jar

      - name: Upload results
        uses: actions/upload-artifact@v6
        with:
          name: trap-league-standings
          path: build/libs/league-data-*.xlsx
